<!--// {{}} expresion de javascript-->
<!--
<h1>{{titulo}}</h1> 

<button (click)="numero = numero + 1"> + 1 </button>
<span> {{ numero }} </span>
<button (click)="numero = numero - 1"> - 1 </button>

<h1>Forma - Método</h1>
<br>
<button (click)="sumar()"> + 1 </button>
<span> {{numero}} </span>
<button (click)="restar()"> - 1 </button>

<h1>forma - Método acumulador</h1>
<br>
<button (click)="acumular(2)"> + 2 </button>
<span> {{numero}} </span>
<button (click)="acumular(-2)"> - 2 </button>

<h1>forma con variable base</h1>
<br>
<h3>La base es: <strong>{{ base }}</strong></h3>
<button (click)="acumular(base)"> + {{base}} </button>
<span> {{numero}} </span>
<button (click)="acumular(-base)"> - {{base}} </button>




<app-contador></app-contador>


<app-heroe></app-heroe> -->
<app-listado></app-listado>